@model RegisterViewModel;
@{
    ViewData["Title"] = "Register";
}
<form asp-action="Register" asp-controller="Users" method="post" class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg" style="max-width: 500px; width: 100%;">

        <div class="card-header bg-light">
            <h3 class="card-title text-center fw-bold text-primary">Registro de Usuario</h3>
        </div>

        <div class="card-body">
            <div class="form-floating mb-3">
                <input asp-for="UserName" class="form-control" placeholder="nombre@ejemplo.com"/>
                <label asp-for="UserName"></label>
                <span asp-validation-for="UserName" class="text-danger m-1"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" placeholder="nombre@ejemplo.com" autocomplete="off"/>
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger m-1"></span>
            </div>

            <div class="form-floating mb-3 position-relative">
                <input asp-for="PasswordHash" class="form-control" placeholder="Password" />
                <label asp-for="PasswordHash"></label>
                <span asp-validation-for="PasswordHash" class="text-danger m-1"></span>
            </div>
        </div>

        <div class="card-footer text-center">
            <button type="submit" class="btn btn-success w-100 mb-2">Registrar</button>
            <a asp-action="Login" asp-controller="Users" class="btn btn-link">¿Ya tienes una cuenta? Inicia sesión</a>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

